html, body {
  width: 100%;
  height: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-perspective: 1100px;
  -moz-perspective: 1100px;
  -ms-perspective: 1100px;
  -o-perspective: 1100px;
  perspective: 1100px;
}
.wrapper.active nav {
  background: rgba(255, 255, 255, 0.6);
}
.wrapper.active nav .menu-list-container {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}
.wrapper.active .main-container {
  -webkit-transform:  rotateY(45deg) translateX(-50%) translateZ(-300px);
  -moz-transform:  rotateY(45deg) translateX(-50%) translateZ(-300px);
  -ms-transform:  rotateY(45deg) translateX(-50%) translateZ(-300px);
  -o-transform:  rotateY(45deg) translateX(-50%) translateZ(-300px);
  transform:  rotateY(45deg) translateX(-50%) translateZ(-300px);
}

.main-container {
  width: 100%;
  height: 100%;
  background: url("/images/hiroyuki-kanno/top.jpg") no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform:  rotateY(0deg) translateX(0) translateZ(0);
  -moz-transform:  rotateY(0deg) translateX(0) translateZ(0);
  -ms-transform:  rotateY(0deg) translateX(0) translateZ(0);
  -o-transform:  rotateY(0deg) translateX(0) translateZ(0);
  transform:  rotateY(0deg) translateX(0) translateZ(0);
}
.main-container .content {
  position: relative;
  width: 100%;
  height: 100%;
}
.main-container .content .text {
  font-size: 32px;
  letter-spacing: 3px;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

nav {
  color: #333;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  right: 0;
  z-index: 1000;
  overflow: hidden;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
nav .menu-icon-container {
  position: absolute;
  top: 20px;
  right: 10%;
  z-index: 9999;
}
nav .menu-list-container {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  -o-transform: translate(100%, 0);
  transform: translate(100%, 0);
  opacity: 0;
  -webkit-transition: -webkit-transform 0.6s, opacity 1s;
  -moz-transition: -moz-transform 0.6s, opacity 1s;
  -o-transition: -o-transform 0.6s, opacity 1s;
  transition: transform 0.6s, opacity 1s;
}
nav .menu-list-container ul {
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 100%;
}
nav .menu-list-container ul li {
  width: 100%;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

/* 矢印付きシンプルボタン */

.btn {
  display: inline-block;
  position: relative;
  padding: .3em 1em;
  border-radius: 3px;
  color: white;
  background-color: #0c9389;
  text-decoration: none;
  -webkit-transition: background-color .3s, box-shadow .3s, -webkit-transform .3s;
  transition: background-color .3s, box-shadow .3s, transform .3s;
}

a.btn {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn.next {
  padding-right: 2em;
}

.btn.prev {
  padding-left: 2em;
}

.btn.inline {
  margin: 0 .3em;
  padding: .3em;
  line-height: 1;
}

.btn.bnr {
  padding: 0;
}

.btn.bnr img {
  border-radius: 3px;
  vertical-align: middle;
  -webkit-transition: -webkit-filter .3s;
}

a.btn:hover {
  background-color: #20a79d;
  box-shadow: 0 5px 0 #0c9389, 0 10px 3px rgba(0,0,0,.1);
  -ms-transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.btn.bnr:hover img {
  -webkit-filter: brightness(1.1);
}

a.btn:active {
  background-color: #0c9389;
  box-shadow: 0 2px 0 #277872, 0 4px 1px rgba(0,0,0,.1);
  -ms-transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  -webkit-transition-duration: .1s;
  transition-duration: .1s;
}

